@import "utility";


.header{
  border-bottom: solid #8c8c8c 2px;
  font-size: 220%;
  width: 14%;
  color: #8c8c8c;
  margin-left: 20%;
  margin-top: 2.5%;
}

body{
  background-color: rgb(227, 227, 227);
}